.wrapper {
	width: 320px;
	background-color: #FAF9FC;
}

.inlineWrapper {
	display: inline;
}

a {
	color: inherit;
	text-decoration: inherit;
}

.imageCarousel {
	height: 150px;
	width: 90%;
	padding-left: 8px;

	.image {
		height: 100px;
		width: 90%;
	}
}