.wrapper {
	width: 100%;
	background-color: #FAF9FC;
	position: relative;
}

body {
	margin: 0px;
}

.inlineWrapper {
	display: inline;
}

a {
	color: inherit;
	text-decoration: inherit;
}

.imageCarousel {
	height: 250px;
	width: 90%;
	padding-left: 8px;

	.image {
		height: 100px;
		width: 90%;
	}
}