.commentsTab {
	padding-top: 5px;
	padding-left: 3%;
	padding-right:1%;
	padding-bottom: 12px;

	.commentRow {
		margin-top: 5px;
		margin-bottom: 5px;

		.commenterImg {
			width: 32px;
			height: 32px;
			display: inline-block;
			margin-right: 10px;
			border-radius: 16px;
			vertical-align: top;
		}

		.right {
			display: inline-block;
			width: 80%;

			.commenter {
				color: #8560A9;
				font-family: 'Source Sans Pro';
				font-size: 12px;
				display: inline-block;
				margin-right: 10px;
			}

			.timeAgo {
				display: inline-block;
				font-family: 'Source Sans Pro';
				font-size: 10px;
				color: #BABABA;
			}

			.reply {
				width: 16px;
				height: 13px;
				vertical-align: middle;
				float: right;
				cursor: pointer;
			}
		}

		.description {
			font-family: 'Source Sans Pro';
			font-size: 14px;
			color: #67616D;
		}
	}
}

.actionbar {
	.left {
		display: inline-block;
		width: 85%;
		height: 32px;
		padding-top: 12px;
		padding-bottom: 12px;
		background-color: #8560A9;
		vertical-align: top;

		.commentInput {
			margin-left: auto;
			margin-right: auto;
			display: block;
			width: 80%;
			height: 28px;
			border-radius: 32px;
			border: 0px;
			padding-left: 8px;
		}

		.commentInput::placeholder {
			font-family: 'Source Sans Pro';
			color: #D3C1E5;
		}
	}
	
	.right {
		display: inline-block;
		width: 15%;
		height: 30px;
		padding-top: 13px;
		padding-bottom: 13px;
		background-color: #D5EF7F;
		vertical-align: top;

		.send {
			width: 28px;
			height: 24px;
			display: block;
			margin-left: auto;
			margin-right: auto;
			cursor: pointer;
		}
	}
}