.eventContainer {
	margin-left: 16px;
	margin-right: 16px;
	margin-top: 16px;

	.eventTitleCategory {
		margin-bottom: 8px;

		.eventTitle {
			color: #453257;
			font-size: 18px;
			font-family: 'Source Sans Pro';
			font-weight: 600;
			display: inline-block;
		}

		.eventCategory {
			display: inline-block;
			float: right;
			font-family: 'Source Sans Pro';
			font-size: 12px;
			color: #8560A9;
			border-radius: 10px;
			border: 1px solid #D3C1E5;
			padding: 2px;
			padding-left: 4px;
			padding-right: 4px;

		}		
	}

	.eventTime {
		font-family: 'Source Sans Pro';
		font-size: 12px;
		color: #8560A9;
		margin-bottom: 12px;
		display: inline-block;
	}

	.eventDescription {
		font-family: 'Source Sans Pro';
		font-size: 14px;
		color: #67616D;
		overflow: hidden;
		margin-bottom: 12px;
	}

	.eventLikeJoin {
		margin-bottom: 12px;
	}

	.eventClock {
		width: 12px;
		height: 12px;
		display: inline;
		margin-right: 6px;
		vertical-align: center;
	}

	.eventEmpty {
		font-size: 12px;
		display: inline-block;
		color: #AC8EC9;
		font-family: 'Source Sans Pro';
	}

	.eventFilled {
		color: #453257;
		font-family: 'Source Sans Pro';
		font-size: 12px;
		display: inline-block;
	}

	.seperator {
		display: inline-block;
		width: 30px;
	}
}
