.bar {
	width: 320px;
	background-color: #8560A9;
	height: 40px;

	.searchLogo {
		padding-left: 3%;
		display: inline-block;
		width: 20px;
		height: 20px;
		margin-top: 3px;
		margin-right: 30%;
	}

	.homeLogo {
		padding-left: 2%;
		display: inline-block;
		width: 24px;
		height: 24px;
		margin-top: 3px;
		margin-right: 37%;
	}

	.mainLogo {
		display: inline-block;
		width: 20.9px;
		height: 24px;
		margin-top: 8px;
		margin-right: 37%;
	}

	.meLogo {
		display: inline-block;
		width: 24px;
		height: 24px;
		margin-top: 5px;
		border-radius: 12px;
	}
}