<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
	<title><%= htmlWebpackPlugin.options.title %></title>
	<script src="bundle.js"></script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1Ykcc1HIa_6naoE4yaOYr928C-tc6FXM" type="text/javascript"></script>
	<link href='//fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'>
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

  </head>
  <body>

	<div id="app"></div>
	
  </body>
</html>